@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-1: 'Rajdhani', sans-serif;
  --text-2: 'Roboto Condensed', sans-serif;
}

html {
  scroll-behavior: smooth;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  font-family: var(--text);

  background-color: #000;
  max-width: 100vw;
  height: 100vh;
  color: #fff;
}