@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFF;
  --black: #000000;
  --bg-one: #C7C7C7;
  --bg-one: #E8E6E6;
  --paragraph: #393747;
  --head: #483830;
  --light-black: #333333;
  --icon-bg: #043355;

  --text: 'Rajdhani', sans-serif;
}

html {
  scroll-behavior: smooth;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  font-family: var(--text);

  background-color: var(--bg-one);
  max-width: 100vw;
  height: 100vh;
}