.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.contact-by {
  flex: 1;
  text-align: center;
  margin-bottom: 2rem;
}

.contact-by h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-by p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.contact-by a {
  display: block;
  color: blue;
  text-decoration: none;
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-decoration: underline;
}

.contact-form {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.contact-form h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.contact-form form label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
  background-color: #aaa8a8;
}

.contact-form form button {
  background-color: #aaa8a8;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.contact-form form button:hover {
  background-color: #555;
}

/* Scroll To Top button */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #000;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.scroll-to-top:hover {
  background-color: #333;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    text-align: center;
    padding: 5px 0;
  }

  .contact-by {
    margin-bottom: 30px;
  }

  .contact-by h1 {
    font-size: 24px;
    margin: 20px auto;
  }

  .contact-by p {
    font-size: 14px;
  }

  .contact-by a {
    font-size: 16px;
  }

  .contact-form {
    border: none;
    padding: 0;
  }

  .contact-form h3 {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .contact-form form label {
    display: block;
    font-size: 14px;
    margin-bottom: 2px;
  }

  .contact-form form input {
    color: #fff;
  }

  .contact-form form input,
  .contact-form form textarea {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .contact-form form button {
    padding: 10px 20px;
    border-radius: 0;
    font-size: 14px;
  }
}