.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 40px;
}

.contact-by {
  flex: 1;
  text-align: center;
  margin-bottom: 2rem;
}

.contact-by h1 {
  font-size: 2rem;
  font-family: var(--text-2);
  margin-bottom: 30px;
}

.contact-by p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 4rem;
}

.contact-by a {
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  font-family: var(--text-2);
  margin-bottom: 10px;

  border: 2px solid #ccc;
  cursor: pointer;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 5px 15px;
  position: relative;
  z-index: 1;
}

.contact-by a::after {
  content: "";
  position: absolute;
  color: slategray;
  background-color: #ccc;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: height 0.5s ease;
  z-index: -1;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.contact-by a:hover::after {
  height: 100%;
}

.contact-by a:hover {
  color: black;
}

.contact-form {
  display: none;
}

/* Scroll To Top button */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #000;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.scroll-to-top:hover {
  background-color: #333;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    text-align: center;
    padding: 5px 0;
  }

  .contact-by {
    /* margin-bottom: 0; */
  }

  .contact-by p:nth-child(2) {
    display: none;
  }

  .contact-by h1 {
    font-size: 24px;
    margin: 20px auto;
  }

  .contact-by p {
    font-size: 14px;
    padding: 0px 10px;
  }

  .contact-link {
    display: none;
  }

  .contact-form {
    display: block;
    border: none;
    padding: 0;
    flex: 1;
  }

  .contact-form form label {
    display: block;
    font-size: 14px;
    font-family: var(--text-2);
    margin-bottom: 2px;
  }

  .contact-form form input {
    color: #fff;
  }

  .contact-form form input,
  .contact-form form textarea {
    margin-bottom: 10px;
    font-size: 14px;

    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #aaa8a8;
  }

  .contact-form form button {
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;

    background-color: #aaa8a8;
    color: #000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .contact-form form button:hover {
    background-color: #555;
  }
}