/* Home.css */
.home-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.background-img {
  position: relative;
  height: 100%;
  background: url("../assets/images/vector-mountain.svg") center/cover no-repeat;
}

.background-img img {
  display: none;
}

.read-more {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.read-more button {
  padding: 12px 20px;
  text-decoration: none;
  color: #fff;
  font-family: var(--text-2);
  font-weight: bold;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid white;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.overlay h1 {
  font-size: 2.5rem;
  font-family: var(--text-2);
  margin-bottom: 50px;
}

.overlay p {
  font-size: 1.2rem;
}

@media (max-width: 768px) {

  .home-container {
    height: calc(100vh - 45px);
  }

  .read-more button {
    font-size: 14px;
    padding: 12px 20px;
    border: 1px solid white;
  }

  .overlay h1 {
    font-size: 1.3rem;
    margin-bottom: 25px;
  }

  .overlay p {
    font-size: 1rem;
  }
}