/* Navbar.css */
.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 15px 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}

.portfolio {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.portfolio span {
  text-decoration: underline;
  font-weight: 400;
}

.portfolio strong {
  font-size: 1.5rem;
  font-weight: 500;
}

.navigation-menu {
  display: none;
}

@media (max-width: 600px) {
  .navbar {
    height: 45px;
    padding: 5px 20px;
  }

  .navbar-left {
    height: auto;
  }

  .portfolio {
    font-size: 20px;
  }

  .portfolio strong {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .navbar a {
    display: none;
  }

  .navigation-menu {
    display: block;
  }

  .navigation-menu a {
    display: inline;
    margin-right: 5px;
  }

  .fa-bars {
    color: #fff;
  }
}