/* Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 30px 20px;
  transition: background-color 0.3s;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  margin-right: 50px;
  cursor: pointer;
  position: relative;
}

.navbar a::before,
.navbar a::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.navbar a::before {
  left: 0;
}

.navbar a::after {
  right: 0;
}

.navbar a:hover::before,
.navbar a:hover::after {
  width: 100%;
}

.portfolio {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-left: 30px;
}

.portfolio span {
  text-decoration: underline;
  font-weight: 400;
}

.portfolio strong {
  font-size: 1.5rem;
  font-weight: 500;
}

.navigation-menu {
  display: none;
}

@media (max-width: 600px) {
  .navbar {
    padding: 20px 20px;
  }

  .navbar-left {
    height: auto;
  }

  .portfolio {
    font-size: 20px;
    margin-left: 0;
  }

  .portfolio strong {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .navbar a {
    display: none;
  }

  .navigation-menu {
    font-size: 1.2rem;
    display: block;
    cursor: pointer;
  }

  /* When menu is open */
  .menu-open .navigation-menu {
    color: #fff;
    font-size: 20px;
  }

  .menu-open .navbar-right {
    display: block;
  }

  .menu-open .navbar a {
    display: block;
    margin-right: 5px;
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
  }
}