/* Projects.css */
.projects-container {
  padding: 80px 0;
  text-align: center;
}

.projects-title h1 {
  font-size: 2rem;
  font-family: var(--text-2);
  margin-bottom: 60px;
}

.list-of-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 0 30px;
}

.project {
  position: relative;
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 40px;
}

.project img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-height: 300px;
  border: 2px solid rgb(175, 248, 248);
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.project:hover .project-overlay {
  opacity: 1;
}

.project-link {
  color: #fff;
  text-decoration: none;
  margin: 10px;
  padding: 8px 15px;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.project-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* .github-repo {
  padding-bottom: 5px;
}

.github-repo button {
  font-family: var(--text-2);
  margin-top: 0;
  border: 2px solid;
  background-color: transparent;
  color: #fff;
  padding: 8px 15px;
  border-radius: 2px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
  outline: none;
}

.github-repo button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
} */

@media (max-width: 768px) {
  .projects-container {
    padding: 30px 0;
  }

  .projects-title h1 {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .project {
    flex: 0 0 calc(100% - 20px);
    margin-bottom: 20px;
  }

  .project-link {
    font-size: 14px;
    padding: 5px 10px;
  }

  /* .github-repo button {
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 20px;
  } */

}